.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 115px;
  padding: 0 10px;
  width: 1230px;
  text-align: center;
}

.container h4 {
  line-height: 1.4;
  color: #846655;
  font-size: 44px;
  font-weight: lighter;
}

.container h4 strong {
  font-weight: bold;
}

.container p {
  margin-top: 46px;
  line-height: 1.6;
  font-size: 22px;
}

.container p strong {
  font-weight: bold;
}

.carousel {
  margin-top: 50px;
  background-color: #dfd9d6;
  width: 100%;
  height: 300px;
}
