.wrapper {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  z-index: 20;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @media (min-width: 1400px) {
    width: 1230px;
  }
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  width: 120px;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  background-color: #846655;
  width: 175px;
  height: 45px;
  text-decoration: none;
  color: #fff;
}
