.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("/introduction-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1920px 1374px;
  height: 1374px;
}

.container {
  margin-bottom: 190px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  font-size: 58px;
  font-weight: lighter;

  @media (min-width: 1400px) {
    width: 1230px;
  }
}

.container strong {
  font-weight: bold;
}
