.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 150px;

  @media (max-width: 1399.98px) {
    font-size: 105px;
  }

  @media (max-width: 767.98px) {
    font-size: 90px;
  }

  @media (max-width: 575.98px) {
    padding-top: 75px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 1230px;

  @media (max-width: 1399.98px) {
    width: 934px;
  }

  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.container h3 {
  color: #846655;
  font-size: 75px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    font-size: 53px;
  }

  @media (max-width: 767.98px) {
    font-size: 45px;
  }

  @media (max-width: 575.98px) {
    font-size: 24px;
  }
}

.container h3 span {
  color: #bd2929;
}

.emphasis {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  line-height: 1.6;

  @media (max-width: 1399.98px) {
    font-size: 11px;
  }

  @media (max-width: 767.98px) {
    font-size: 10px;
  }

  @media (max-width: 575.98px) {
    margin-top: 14px;
  }
}

.emphasis p {
  background-color: #846655;
  padding: 24px 31px;
  color: #fff;
  font-size: 35px;

  @media (max-width: 1399.98px) {
    padding: 17px 22px;
    font-size: 25px;
  }

  @media (max-width: 767.98px) {
    padding: 14px 19px;
    font-size: 21px;
  }

  @media (max-width: 575.98px) {
    padding: 12px 16px;
    font-size: 12px;
  }
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  margin-top: 60px;
  background-color: #ededed;
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;

  @media (max-width: 1399.98px) {
    margin-top: 42px;
    padding-top: 70px;
    padding-right: 10px;
    padding-bottom: 42px;
    padding-left: 10px;
  }

  @media (max-width: 767.98px) {
    margin-top: 36px;
    padding-top: 60px;
    padding-right: 10px;
    padding-bottom: 36px;
    padding-left: 10px;
  }

  @media (max-width: 575.98px) {
    margin-top: 30px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
  }
}

.card h4 {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 10;
  margin-bottom: 80px;
  border-bottom: 13px solid #333;
  border-radius: 50rem;
  background-color: #fff;
  padding: 32px 25px;
  color: #bd2929;
  font-size: 44px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    margin-bottom: 56px;
    border-bottom: 9px solid #333;
    padding: 22px 18px;
    font-size: 31px;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 48px;
    border-bottom: 8px solid #333;
    padding: 19px 15px;
    font-size: 26px;
  }

  @media (max-width: 575.98px) {
    margin-bottom: 40px;
    border-bottom: 7px solid #333;
    padding: 16px 13px;
    font-size: 22px;
  }
}

.decoration {
  width: 68px;
  height: auto;

  @media (max-width: 1399.98px) {
    width: 48px;
  }

  @media (max-width: 767.98px) {
    width: 41px;
  }

  @media (max-width: 575.98px) {
    width: 34px;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  padding-top: 30px;
  width: 994px;
  row-gap: 98px;

  @media (max-width: 1399.98px) {
    column-gap: 21px;
    padding-top: 21px;
    width: 100%;
    row-gap: 69px;
  }

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 18px;
    width: 100%;
    row-gap: 59px;
  }

  @media (max-width: 575.98px) {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    width: 100%;
    row-gap: 49px;
  }
}

.items li {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  background-color: #fff;
  height: 235px;

  @media (max-width: 1399.98px) {
    height: 165px;
  }

  @media (max-width: 767.98px) {
    height: 141px;
  }

  @media (max-width: 575.98px) {
    height: 118px;
  }
}

.items li .badge {
  display: flex;
  position: absolute;
  top: -30px;
  left: 50%;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-image: url("/promotion-badge.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 90px auto;
  width: 90px;
  height: 61px;
  color: #bd2929;
  font-size: 28px;
  font-weight: bold;

  @media (max-width: 575.98px) {
    top: -21px;
    background-size: 63px auto;
    width: 63px;
    height: 43px;
    font-size: 14px;
  }
}

.items li h5 {
  text-align: center;
  line-height: 1.2;
  font-size: 40px;
  font-weight: bold;
}

.items li h5 span {
  color: #bd2929;
  font-size: 60px;
  font-weight: bolder;
}

.items li h5 p {
  text-align: left;
  font-size: 16px;
  font-weight: lighter;
}

.items li h6 {
  margin-bottom: 10px;
  font-size: 24px;
}

.darkWrapper {
  display: flex;
  justify-content: center;
  margin-top: -192px;
  background-color: #3b3b3b;
  padding-top: 342px;
  padding-bottom: 198px;
  width: 100%;

  @media (max-width: 1399.98px) {
    padding-bottom: 139px;
  }

  @media (max-width: 767.98px) {
    padding-bottom: 119px;
  }

  @media (max-width: 575.98px) {
    padding-bottom: 99px;
  }
}

.darkContainer {
  padding: 0 20px;
  width: 1230px;
}

.darkContainer h3 {
  text-align: center;
  line-height: 1.6;
  color: #fff;
  font-size: 32px;

  @media (max-width: 1399.98px) {
    font-size: 24px;
  }

  @media (max-width: 767.98px) {
    font-size: 18px;
  }

  @media (max-width: 575.98px) {
    font-size: 16px;
  }
}

.darkContainer h3 strong {
  color: #ebbb9f;
  font-weight: bold;
}

.darkContainer table {
  margin-top: 70px;
  width: 100%;
  table-layout: fixed;

  @media (max-width: 1399.98px) {
    margin-top: 49px;
  }

  @media (max-width: 767.98px) {
    margin-top: 42px;
  }

  @media (max-width: 575.98px) {
    margin-top: 35px;
  }
}

.darkContainer table thead {
  background-color: #949494;
}

.darkContainer table thead th {
  padding: 16px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    padding: 13px;
    font-size: 17px;
  }

  @media (max-width: 767.98px) {
    padding: 10px;
    font-size: 14px;
  }

  @media (max-width: 575.98px) {
    padding: 8px;
    font-size: 12px;
  }
}

.darkContainer table tbody td {
  position: relative;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 16px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.6;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;

  @media (max-width: 1399.98px) {
    padding: 11px;
    font-size: 13px;
  }

  @media (max-width: 767.98px) {
    padding: 10px;
    font-size: 11px;
  }

  @media (max-width: 575.98px) {
    padding: 8px;
    font-size: 11px;
  }
}

.darkContainer table colgroup col:nth-child(1) {
  width: 280px;

  @media (max-width: 1399.98px) {
    width: 224px;
  }

  @media (max-width: 767.98px) {
    width: 168px;
  }

  @media (max-width: 575.98px) {
    width: 60px;
  }
}

.darkContainer table colgroup col:nth-child(2) {
  width: 300px;

  @media (max-width: 1399.98px) {
    width: 210px;
  }

  @media (max-width: 767.98px) {
    width: 180px;
  }

  @media (max-width: 575.98px) {
    width: 90px;
  }
}

.darkContainer table tbody td:last-child {
  border-right: none;
}

.darkContainer table tbody td strong {
  font-weight: bold;
}

.sticker {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(132, 102, 85, 0.2);
  width: 120px;
  height: 120px;

  @media (max-width: 1399.98px) {
    width: 84px;
    height: 84px;
  }

  @media (max-width: 767.98px) {
    width: 72px;
    height: 72px;
  }

  @media (max-width: 575.98px) {
    width: 60px;
    height: 60px;
  }
}

.sticker p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #846655;
  width: 86px;
  height: 86px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }

  @media (max-width: 767.98px) {
    width: 52px;
    height: 52px;
    font-size: 10px;
  }

  @media (max-width: 575.98px) {
    width: 43px;
    height: 43px;
    font-size: 8px;
  }
}

table:global(.aos-animate) .sticker {
  animation: mark 0.4s forwards;
  animation-delay: 0.3s;
}

@keyframes mark {
  0% {
    transform: translateY(-30px) rotate(-15deg) scale(4);
    opacity: 0;
  }
  100% {
    transform: translateY(-30px) rotate(-15deg) scale(1);
    opacity: 1;
  }
}

.discount {
  background-color: #fff7e3;
  color: #846655 !important;
  font-size: 22px !important;
  font-weight: bold !important;

  @media (max-width: 1399.98px) {
    font-size: 15px !important;
  }

  @media (max-width: 767.98px) {
    font-size: 13px !important;
  }

  @media (max-width: 575.98px) {
    font-size: 11px !important;
  }
}

.total {
  background-color: #846655;
  color: #fff !important;
  font-size: 22px !important;
  font-weight: bold !important;

  @media (max-width: 1399.98px) {
    font-size: 15px !important;
  }

  @media (max-width: 767.98px) {
    font-size: 13px !important;
  }

  @media (max-width: 575.98px) {
    font-size: 11px !important;
  }
}
