.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff7e3;
  padding-top: 150px;
  padding-bottom: 50px;
  overflow: hidden;

  @media (max-width: 1199.98px) {
    padding-top: 105px;
    padding-bottom: 35px;
  }

  @media (max-width: 575.98px) {
    padding-top: 75px;
    padding-bottom: 25px;
  }
}

.container {
  padding: 0 20px;
  width: 1230px;
  text-align: center;
}

.container h3 {
  line-height: 1.4;
  color: #846655;
  font-size: 44px;
  font-weight: lighter;

  @media (max-width: 1199.98px) {
    font-size: 31px;
  }

  @media (max-width: 575.98px) {
    font-size: 24px;
  }
}

.container h3 strong {
  font-weight: bold;
}

.container p {
  margin-top: 50px;
  font-size: 18px;

  @media (max-width: 1199.98px) {
    margin-top: 35px;
    font-size: 15px;
  }

  @media (max-width: 575.98px) {
    margin-top: 25px;
    font-size: 15px;
  }
}

.carousel {
  margin-top: 50px;
  width: 100%;
  height: 609px;

  @media (max-width: 1199.98px) {
    margin-top: 35px;
    height: 320px;
  }

  @media (max-width: 575.98px) {
    margin-top: 25px;
    height: 280px;
  }
}

.carousel img {
  margin-left: 58px;
  width: auto;
  height: 609px;

  @media (max-width: 1199.98px) {
    margin-left: 18px;
    height: 320px;
  }

  @media (max-width: 575.98px) {
    margin-left: 18px;
    height: 280px;
  }
}
