.wrapper {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding-top: 115px;
  padding-bottom: 145px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1400px) {
    width: 1350px;
  }
}

.chart {
  position: relative;
  margin-top: 152px;
  margin-bottom: 54px;
}

.emphasis {
  display: flex;
  position: absolute;
  top: -120px;
  right: -15px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(132, 102, 85, 0.2);
  width: 240px;
  height: 240px;
}

.emphasis p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #846655;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.strong {
  position: absolute;
  top: -152px;
  right: -15px;
  transition: opacity 0.5s ease;
  opacity: 0;
  width: 240px;
  text-align: center;
  color: #846655;
  font-size: 32px;
}

.chart:global(.aos-animate) .emphasis {
  animation: mark 0.4s forwards;
  animation-delay: 1.5s;
}

.chart:global(.aos-animate) .strong {
  transition-delay: 1.5s;
  opacity: 1;
}

@keyframes mark {
  0% {
    transform: scale(4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.chart ul {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 110px);
  column-gap: 20px;
  padding: 0 50px;
  height: 610px;
}

.chart::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 2px;
  content: "";
}

.chart ul li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.amount {
  margin-bottom: 10px;
  text-align: center;
  color: #846655;
  font-weight: bold;
}

.bar {
  transition: height 0.5s ease;
  opacity: 0.2;
  background-color: #846655;
  width: 100%;
  height: 0;
}

.chart:global(.aos-animate) li:nth-child(1) .bar {
  transition-delay: 0.2s;
  height: 68.46%;
}

.chart:global(.aos-animate) li:nth-child(2) .bar {
  transition-delay: 0.4s;
  height: 70.25%;
}

.chart:global(.aos-animate) li:nth-child(3) .bar {
  transition-delay: 0.6s;
  height: 86.57%;
}

.chart:global(.aos-animate) li:nth-child(4) .bar {
  transition-delay: 0.8s;
  height: 90.96%;
}

.chart:global(.aos-animate) li:nth-child(5) .bar {
  transition-delay: 1s;
  height: 100%;
}

.label {
  position: absolute;
  transform: translateY(54px);
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h4 {
  margin-bottom: 10px;
  color: #846655;
  font-size: 24px;
}

.description h4 strong {
  font-weight: bold;
}

.description h3 {
  margin-bottom: 48px;
  line-height: 1.4;
  color: #846655;
  font-size: 32px;
}

.description h3 strong {
  font-size: 60px;
  font-weight: bold;
}

.description p {
  line-height: 1.6;
  font-size: 24px;
}
