.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  column-gap: 65px;
  margin-top: 115px;
  margin-bottom: 145px;
  padding: 0 20px;

  @media (max-width: 1399.98px) {
    width: fit-content;
  }

  @media (max-width: 991.98px) {
    flex-direction: column;
    column-gap: 0;
    margin: 0;
  }
}

.mobileTop {
  display: none;

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 58px;
    text-align: center;
  }
}

.mobileTop h4 {
  margin-bottom: 10px;
  color: #846655;
  font-size: 15px;

  @media (min-width: 576px) {
    font-size: 17px;
  }
}

.mobileTop h4 strong {
  font-weight: bold;
}

.mobileTop h3 {
  margin-bottom: 34px;
  line-height: 1.4;
  color: #846655;
  font-size: 18px;

  @media (min-width: 576px) {
    margin-bottom: 34px;
    font-size: 22px;
  }
}

.mobileTop h3 strong {
  font-size: 28px;
  font-weight: bold;

  @media (min-width: 576px) {
    font-size: 34px;
  }
}

.chart {
  position: relative;
  margin-top: 152px;
  margin-bottom: 54px;

  @media (max-width: 1399.98px) {
    margin-top: 100px;
    margin-bottom: 36px;
  }

  @media (max-width: 575.98px) {
    margin-top: 67px;
    margin-bottom: 24px;
  }
}

.sticker {
  display: flex;
  position: absolute;
  top: -120px;
  right: -15px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 10;
  border-radius: 50%;
  background-color: rgba(132, 102, 85, 0.2);
  width: 240px;
  height: 240px;

  @media (max-width: 1399.98px) {
    top: -79px;
    right: -10px;
    width: 158px;
    height: 158px;
  }

  @media (max-width: 575.98px) {
    top: -53px;
    right: -7px;
    width: 105px;
    height: 105px;
  }
}

.sticker p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #846655;
  width: 180px;
  height: 180px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  font-size: 26px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    width: 118px;
    height: 118px;
    font-size: 17px;
  }

  @media (max-width: 575.98px) {
    width: 79px;
    height: 79px;
    font-size: 11px;
  }
}

.strong {
  position: absolute;
  top: -152px;
  right: -15px;
  transition: opacity 0.5s ease;
  opacity: 0;
  width: 240px;
  text-align: center;
  color: #846655;
  font-size: 32px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    top: -100px;
    right: -10px;
    width: 158px;
    font-size: 21px;
  }

  @media (max-width: 575.98px) {
    top: -67px;
    right: -7;
    width: 105px;
    font-size: 14px;
  }
}

.chart:global(.aos-animate) .sticker {
  animation: mark 0.4s forwards;
  animation-delay: 1.5s;
}

.chart:global(.aos-animate) .strong {
  transition-delay: 1.5s;
  opacity: 1;
}

@keyframes mark {
  0% {
    transform: scale(4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.chart ul {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 110px);
  column-gap: 20px;
  padding: 0 50px;
  height: 610px;

  @media (max-width: 1399.98px) {
    grid-template-columns: repeat(5, 72px);
    column-gap: 13px;
    padding: 0 33px;
    height: 401px;
  }

  @media (max-width: 575.98px) {
    grid-template-columns: repeat(5, 48px);
    column-gap: 9px;
    padding: 0 22px;
    height: 267px;
  }
}

.chart::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 2px;
  content: "";
}

.chart ul li {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.amount {
  margin-bottom: 10px;
  text-align: center;
  color: #846655;
  font-size: 15px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    margin-bottom: 7px;
    font-size: 10px;
  }

  @media (max-width: 575.98px) {
    margin-bottom: 4px;
    font-size: 6px;
  }
}

.bar {
  transition: height 0.5s ease;
  opacity: 0.2;
  background-color: #846655;
  width: 100%;
  height: 0;
}

.chart:global(.aos-animate) li:nth-child(1) .bar {
  transition-delay: 0.2s;
  height: 50.55%;
}

.chart:global(.aos-animate) li:nth-child(2) .bar {
  transition-delay: 0.4s;
  height: 62.29%;
}

.chart:global(.aos-animate) li:nth-child(3) .bar {
  transition-delay: 0.6s;
  height: 65.45%;
}

.chart:global(.aos-animate) li:nth-child(4) .bar {
  transition-delay: 0.8s;
  height: 71.95%;
}

.chart:global(.aos-animate) li:nth-child(5) .bar {
  transition-delay: 1s;
  height: 100%;
}

.label {
  position: absolute;
  transform: translateY(54px);
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    transform: translateY(36px);
    font-size: 16px;
  }

  @media (max-width: 575.98px) {
    transform: translateY(24px);
    font-size: 11px;
  }
}

.mobileBottom p {
  display: none;
  margin-top: 34px;
  margin-bottom: 73px;
  width: fit-content;
  line-height: 1.6;
  font-size: 15px;

  @media (max-width: 991.98px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
  }

  @media (min-width: 576px) {
    font-size: 17px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.description h4 {
  margin-bottom: 10px;
  color: #846655;
  font-size: 24px;

  @media (max-width: 1399.98px) {
    font-size: 19px;
  }

  @media (max-width: 1199.98px) {
    font-size: 17px;
  }
}

.description h4 strong {
  font-weight: bold;
}

.description h3 {
  margin-bottom: 48px;
  line-height: 1.4;
  color: #846655;
  font-size: 32px;

  @media (max-width: 1399.98px) {
    margin-bottom: 38px;
    font-size: 26px;
  }

  @media (max-width: 1199.98px) {
    margin-bottom: 34px;
    font-size: 22px;
  }
}

.description h3 strong {
  font-size: 48px;
  font-weight: bold;

  @media (max-width: 1399.98px) {
    font-size: 38px;
  }

  @media (max-width: 1199.98px) {
    font-size: 34px;
  }
}

.description p {
  line-height: 1.6;
  font-size: 23px;

  @media (max-width: 1399.98px) {
    font-size: 18px;
  }

  @media (max-width: 1199.98px) {
    font-size: 16px;
  }
}
